<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" (click)=Collapse() [attr.aria-expanded]="!isCollapsed" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse navbar-collapse-right" id="navbarSupportedContent" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-brand">SmartLogStatistics</li>
      <li [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['file-upload']">Carica un File</a></li>
      <li [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['statistics-table']">Visualizza statistiche</a></li>
      <li [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['event-table']">Visualizza eventi</a></li>
      <li [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['cumulative-chart']">Visualizza grafico cumulativo</a></li>
      <li [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['histogram']">Visualizza istogramma</a></li>
      <li [routerLinkActive]="['active']"> <a class="nav-link" [routerLink]="['pie-chart']">Visualizza grafico a torta</a></li>
    </ul>

  </div>
</nav>

