#no-events{
    text-align: center;
}

#chart-container{
    margin-top: 2rem;
}

#histogram-chart{
    position:relative;
    overflow: hidden;
}

#sort-tab-opener{ /*la checkbox che non si deve vedere*/
    visibility: hidden;
    position:absolute;
}

label[for="sort-tab-opener"]{
    content: "";
    position:absolute;
    display: block;
    height: 3vh;
    width: 4vw;
    background-color: blue;
    top:0;
    transition: 1s;
    color:white;
    border-bottom-right-radius:15px;
    border-bottom-left-radius:15px;
    text-align: center;
    font-size: 1vw;
    
}


.sort-div{
    position: absolute;
    height: max-content;
}
.sort-div .form{
    padding: 1rem;
    border-bottom-right-radius: 30px;
    background-color: white;
    border: solid 2px black;
    border-top: none;
    height: fit-content;
    width: max-content;
    transform: translateY(-100%);
    transition: 1s;
}

input[type="radio"]{
    margin-right: .2rem;
}

input#sort-tab-opener:checked + label[for="sort-tab-opener"] + .form{
    transform: translateY(0);
}
input#sort-tab-opener:checked + label[for="sort-tab-opener"] {
    top:100%;
}

