@import "~bootstrap/dist/css/bootstrap.css";
@import 'ag-grid-community/dist/styles/ag-grid.css';
/*tema chiaro*/
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
/*tema scuro*/
/*@import 'ag-grid-community/dist/styles/ag-theme-alpine-dark.css';*/

#file-info-and-search{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex: 1 1 0px;
}