<div id="upload-container" class="row" *ngIf="uploadedFiles == -1">
    <div class="col-12">
        <label class="dropdown-btn btn-default p-0" for="file" appFileDropped (fileDropped)="filesDrop($event)">
            {{ labelText }}
            <input id="file" #fileSelector type="file" (change)="selectFiles($event)" accept="text/csv" multiple />
        </label>
    </div>

    <div class="col-12">
        <button class="btn btn-success btn-sm" [disabled]="currentFiles.length == 0" (click)="beginUpload()">
            Carica file
        </button>
    </div>
</div>

<!-- parte di pagina da mostrare quando si effettua l'upload -->
<div *ngIf="uploadedFiles != -1">
    <h1>Caricamento file</h1>

    <div class="progress my-progress">
        <div class="progress-bar progress-bar-info progress-bar-striped"
             role="progressbar"
             [ngStyle]="{ width: (uploadedFiles * 100 / currentFiles.length) + '%'}">
        </div>
        <p>Caricati {{ uploadedFiles }} / {{ currentFiles.length }} file</p>
    </div>

    <div class="alert alert-dark my-alert" *ngIf="uploadedFiles !=  currentFiles.length">
        Caricamento del file: {{ currentFiles[uploadedFiles].file.name }}
    </div>

    <div class="alert alert-dark my-alert" *ngIf="uploadedFiles ==  currentFiles.length">
        Caricamento completato <span *ngIf="errors">con errori</span>
    </div>

    <mdb-accordion>
        <mdb-accordion-item>
            <ng-template mdbAccordionItemHeader>Dettagli</ng-template>
            <ng-template mdbAccordionItemBody>
                <div class="row file-row" *ngFor="let file of currentFiles">
                    <div class="col-6 file-name">
                        {{ file.file.name }}
                    </div>
                    <div class="col-6" *ngIf="file.status == 'waiting'">
                        <div class="progress my-progress">
                            <div class="progress-bar progress-bar-striped progress-bar-animated progress-purple"
                                 role="progressbar"
                                 style="width: 100%"
                                 aria-valuenow="100"
                                 aria-valuemax="100"
                                 aria-valuemin="0">
                                Attesa...
                            </div>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="file.status == 'uploading'">
                        <div class="progress my-progress">
                            <div class="progress-bar progress-bar-striped bg-success"
                                 role="progressbar"
                                 [ngStyle]="{width: file.progress + '%'}">
                            </div>
                            <p>{{ file.progress }}%</p>
                        </div>
                    </div>
                    <div class="col-6" *ngIf="file.status == 'failed'">
                        <div class="alert alert-danger" role="alert">
                            {{ file.error }}
                        </div>
                    </div>
                    <div class="col-6" *ngIf="file.status == 'warning'">
                        <div class="alert alert-warning" role="alert">
                            {{ file.error }}
                        </div>
                    </div>
                </div>
            </ng-template>
        </mdb-accordion-item>
    </mdb-accordion>

</div>
