#chart-container{
    position: relative;
}

#tooltip {
    position: fixed;
    left: -100%;
    border: solid 2px black;
    border-radius: 5px;
    background-color: white;
    transform: translate(40px);
    width: 290px;
    padding: 3px;
}

#horizon-chart{
    background-color: #f8f9fa;
}

#tooltip p {
    display: block;
}

.infoName{
    font-weight: bold;
}