<body>
<app-nav-menu></app-nav-menu>
<div class="container">
  <router-outlet></router-outlet>
</div>

<h1>SmartLogViewer</h1>
<p>Piccola descrizione che occupi almeno un po' di spazio</p>
<p>
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque quis luctus lacus. Fusce augue odio, condimentum vitae vehicula id, elementum imperdiet enim. Fusce faucibus mi non orci placerat egestas. Curabitur velit nulla, scelerisque ut semper at, cursus ac nisi. Suspendisse dictum lacus eget laoreet interdum. Ut libero massa, auctor nec diam sed, vulputate semper justo. Suspendisse potenti. Quisque pulvinar arcu sapien. Phasellus vulputate et mi quis sollicitudin. Donec eget sapien non lectus finibus mollis id eget dolor. In eleifend est id nisl dapibus ultricies. Nunc consectetur erat nunc, vestibulum porta tortor elementum vel. Nulla et porttitor ligula, non sagittis elit. Cras vel lobortis odio.
</p>


  <form method="post" enctype="multipart/form-data" #logForm="ngForm" (ngSubmit)="onSubmit(logForm.value)"><!--method="post" target="https://localhost:7210/api/parse"-->

    <label for="file" class="infoButton">Carica il file</label>
    <input type="file" id="file" class="none" accept="text/csv" name="logtoanalyze" ngModel> <!--(change)="handleFileInput($event)"-->

    <input type="submit" />
  </form>
</body>
