<form class="row gy-2 gx-3 align-items-center col-auto">
    <div class="row">
        <div class="col">
            <label class="visually-hidden" for="autoSizingInputRegroup">Raggruppamento</label>
            <input type="number" class="form-control" id="autoSizingInputRegroup" placeholder="Es: 1">
            <label class="visually-hidden" for="autoSizingInputMesureUnit">Unità di misura</label>
            <select class="custom-select my-1 mr-sm-2 form-control" id="autoSizingInputMesureUnit">
                <option selected>Choose...</option>
                <option value="1">ms</option>
                <option value="2">s</option>
                <option value="3">min</option>
            </select>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
    </div>
</form>