
<div id="header">
    <table class="ag-theme-alpine textCenter" id="datetime-header">
        <tr>
            <th id="pcDateHeader">PCDate</th>
            <td style="border-bottom: 1px solid #dde2eb">{{pcDate}}</td>
        </tr>
        <tr>
            <th>UPSDate</th>
            <td id="pcDate" >{{upsDate}}</td>
        </tr>
    </table>
    <ag-grid-angular
            class="ag-theme-alpine"
            id="inifile-header"
            [rowData]="iniFiles"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="'multiple'"
            [animateRows]="true"
    >
    </ag-grid-angular>
</div>
