
<div id="header">
    <table class="ag-theme-alpine" id="datetime-header">
        <tr>
            <th style="border-bottom: 1px solid #babfc7">PCDate</th>
            <td style="border-bottom: 1px solid #dde2eb">{{pcDate}}</td>
        </tr>
        <tr>
            <th>UPSDate</th>
            <td style="background-color: #fcfcfc">{{upsDate}}</td>
        </tr>
    </table>
    <ag-grid-angular
            class="ag-theme-alpine"
            id="inifile-header"
            [rowData]="iniFiles"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="'multiple'"
            [animateRows]="true"
    >
    </ag-grid-angular>
</div>
