
<app-header></app-header>

<div>
    {{value}}
    <nav aria-label="Page navigation example">
        <ul class="pagination" >
            <li class="page-item" *ngFor="let index of arrayOfNumberOfTables">
                <button class="page-link" (click)="showTable(index)">{{index}}</button>
            </li>
            <!--<li class="page-item" *ngFor='let in of [].constructor(numberOfTables) ;let i = index'>{{i}}</li>-->
        </ul>
        
    </nav>
    <ag-grid-angular
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [rowSelection]="'multiple'"
            [animateRows]="true"
            (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
</div>
