ag-grid-angular{
    width: 100%; 
    height: 100%;
    padding-bottom: 2em;
}

div {
    width: 100%; 
    height: 100%;
}

#datetime-header {
    border: 1px solid #babfc7;
    border-bottom: none;
    border-collapse: collapse;
    width: 100%;
}

#datetime-header th {
    background-color: #f8f8f8;
    border-right: 1px solid #babfc7;
}

#datetime-header td, #datetime-header th {
    padding: 1em;
}

.textCenter {
    text-align: center;
}

#startDateHeader {
    border-bottom: 1px solid #babfc7;
}

#startDate {
    border-bottom: 1px solid #dde2eb;
}

#endDate {
    background-color: #fcfcfc;
}

#tableSelection{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 1em;
}
