
<div class="container">
    <form class="row gy-2 gx-3 align-items-center col-auto"  [formGroup]="formGroup" (ngSubmit)="submitForm()">
        <div class="form-group">
            <label for="start-datetime">Data/Ora iniziale:</label>
            <input [(ngModel)]="startDatetimeValue" [min]="formatDate(minDate)" [max]="formatDate(endDatetimeValue)"type="datetime-local" class="form-control" id="start-datetime" name="startDatetime" formControlName="startDatetime">
        </div>
        <div class="form-group">
            <label for="end-datetime">Data/Ora finale:</label>
            <input [(ngModel)]="endDatetimeValue" [min]="formatDate(startDatetimeValue)" [max]="formatDate(maxDate)"type="datetime-local" class="form-control" id="end-datetime" name="endDatetime" formControlName="endDatetime">
        </div>
        <button type="submit" class="btn btn-primary">Inserisci</button>
    </form>
</div>
