<div class="container">
    <form class="row gy-2 gx-3 align-items-center col-auto" [formGroup]="formGroup" (ngSubmit)="submitForm()">
        
        <div class="form-group">
            <label for="codeSelector" class="visually-hidden">Code:</label>
            <ng-multiselect-dropdown id="codeSelector"
                                     formControlName="code"
                                     [placeholder]="'Seleziona il code'"
                                     [data]='availableCode'
                                     [(ngModel)]="selectedCode"
                                     [settings]="dropdownSettings"></ng-multiselect-dropdown>
        </div>
        
        <button type="submit" class="btn btn-primary">Inserisci</button>
    </form>

</div>

