<div>

    <form class="row gy-2 gx-3 align-items-center col-auto">
        <div class="row">
            <div class="col">
                <label class="visually-hidden" for="autoSizingInputDate">Date</label>
                <input type="date" class="form-control" id="autoSizingInputDate">
            </div>
            <div class="col">
                <label class="visually-hidden" for="autoSizingInputTime">Time</label>
                <input type="time" class="form-control" id="autoSizingInputTime">
            </div>
            <div class="w-100"></div>
            <div class="col">
                <label class="visually-hidden" for="autoSizingInputUnit">Unit</label>
                <input type="number" class="form-control" id="autoSizingInputUnit" placeholder="Es: 1">
            </div>
            <div class="col">
                <label class="visually-hidden" for="autoSizingInputSubUnit">SubUnit</label>
                <input type="number" class="form-control" id="autoSizingInputSubUnit" placeholder="Es: 1">
            </div>
            <div class="w-100"></div>
            <div class="col">
                <label class="visually-hidden" for="autoSizingInputCode">Code</label>
                <input type="text" class="form-control" id="autoSizingInputCode" placeholder="Es: S003">
            </div>
            <div class="col">
                <label class="visually-hidden" for="autoSizingInputSequence">Sequenze</label>
                <select class="custom-select my-1 mr-sm-2 form-control" id="autoSizingInputSequence">
                    <option selected>Choose...</option>
                    <option value="1">Prima</option>
                    <option value="2">Seconda</option>
                    <option value="3">Terza</option>
                </select>
            </div>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary form-control">Submit</button>
        </div>
    </form>
</div>